<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @assignment.tag %>
</p>

<p>
  <strong>Testimony:</strong>
  <%= @assignment.testimony %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
