<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @testimony.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @testimony.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @testimony.user.name %>
</p>

<%= link_to 'Back', testimonies_path, class:"btn btn-secondary" %> |
<%= link_to 'Edit', edit_testimony_path(@testimony),class:"btn btn-primary" %> 
